/***************************************
 * TITLE: Gazetteer Default Stylesheet *
 * URI  : gazetteer/default.css        *
 * MODIF: 2003-Nov-23 23:56 +0800      *
 * MEDIA: screen                       *
 ***************************************/

/* DESCRIPTION:
 * This is the default stylesheet for Gazetteer. It renders the main copy in a single column,
 * includes a right-hand sidebar, and has a tab-like bar beneath the title for navigation.
 * The tabs become depressed when the User hovers the mouse pointer over them, giving a dynamic
 * effect.
 *
 * This stylesheet is best used for display on large display areas (eg: standard computer
 * monitors).
 */


/* ##### Common Styles ##### */

body {
  color: gray;
  background-color: white;
  font-family: Verdana, helvetica, arial, sans-serif;
  font-size: 71%;  /* Enables font size scaling in MSIE */
  margin: 0;
  padding: 0;
}

html > body {
  font-size: 8.5pt;
}

acronym, .titleTip {
  border-bottom: 1px dotted gray;
  cursor: help;
  margin: 0;
  padding: 0 0 0.4px 0;
}

acronym:hover, .titleTip:hover {  /* Ignored by MSIE. The nerve! */
  border-bottom: 1px solid rgb(70,130,180);  /* 'steelblue' not recognised here by Opera */
}

.doNotDisplay {
  display: none;
}

.smallCaps {
  font-size: 110%;
  font-variant: small-caps;
}


/* ###### Header ###### */

.headerTitle {
  color: rgb(175,175,175);
  background-color: transparent;
  font-family: garamond, "times new roman", times, roman, serif;
  font-size: 400%;
  margin: 0 0 0 5mm;
  padding: 1ex 0 0 0;
}

.subHeader {
  margin: 0;
  padding: 0.75em 1ex 0.5ex 1ex;
  border-bottom: 10px solid rgb(70,130,180);  /* 'steelblue' not recognised here by Opera */
}

.subHeader .quote {
  color: rgb(175,175,175);
  background-color: transparent;
  font-style: italic;
  float: right;
  margin: 0 1ex;
  padding: 0;
}

.subHeader .navigation {
  list-style-type: none;
  list-style-position: outside;
  margin: 0;
  padding: 0;
}

.subHeader .navigation li {
  line-height: 1.75em;
  margin: 0;
  padding: 0;
  display: inline;
}

.subHeader a {
  color: rgb(175,175,175);
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
}

.subHeader a:hover {
  color: steelblue;
  background-color: transparent;
  text-decoration: none;
}

.subHeader .navigation .tab {
  color: rgb(175,175,175);
  background-color: rgb(248,248,248);
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  padding: 0.5ex 1.25em 1ex 1.25em;
  border-top: 1px solid rgb(231,231,231);
  border-right: 1px solid rgb(97,97,97);
  border-left: 1px solid rgb(231,231,231);
}

.subHeader .navigation a.tab:hover {
  color: steelblue !important;
  background-color: rgb(248,248,248);
  text-decoration: none;
  padding-bottom: 0.8ex;
  border-top: 1px solid rgb(97,97,97);
  border-right: 1px solid rgb(231,231,231);
  border-left: 1px solid rgb(97,97,97);
  position: relative;
  left: 1px;
  top: 1px;
}

.subHeader .navigation .highlighted {
  color: white;
  background-color: steelblue;
  border-top-color: steelblue;
  border-right-color: steelblue;
  border-left-color: steelblue;
}



/* ##### Side Bar ##### */

#side-bar {
  margin: 0 1em 0 0;
  padding: 0;
  width: 15.5em;
  float: right;
}

[id="side-bar"] {  /* Circumvents a rendering bug (?) in MSIE 6.0 */
  margin-right: 2em !important;
}

[id^="side-bar"] {  /* Only recognised in Gecko & CSS3-compliant browsers */
  margin-bottom: 5em !important;
}

#side-bar .title {
  font-family: "trebuchet ms", verdana, helvetica, arial, sans-serif;
  font-size: 120%;
  font-weight: bold;
  margin: 2em 0 0 0;
  padding: 0 0 1ex 0;
  background-image: url(../grey-dot.png);
  background-repeat: repeat-x;
  background-position: bottom center;
}

#side-bar ul {
  list-style-type: disc;
  list-style-position: outside;
  margin: 1em 0 0 0;
  padding: 0 0 1em 1.25em;
  background-image: url(../grey-dot.png);
  background-repeat: repeat-x;
  background-position: bottom center;
}

[id="side-bar"] ul {  /* Not recognised by MSIE */
  list-style-type: circle !important;
  padding-left: 1em !important;
}

#side-bar ul li {
  line-height: 1.25em;
  margin: 1ex 0 1ex 1ex;
  padding: 0;
}

#side-bar ul li:hover {
  list-style-type: disc;
}

#side-bar ul li.highlight {
  color: black;
}

#side-bar a {
  color: gray;
  background-color: transparent;
  text-decoration: underline;
}

#side-bar a:hover {
  color: steelblue;
  text-decoration: none;
}

#side-bar div {
  text-align: justify;
  margin: 1em 0 0 0;
  padding: 0 1ex 1.25em 1ex;
  background-image: url(../grey-dot.png);
  background-repeat: repeat-x;
  background-position: bottom center;
}




/* ##### Top Bar width: 45em; ##### */

#top-bar {
  margin: 0 0 0 2em; 
  padding: 0;
  
  float: top;
}

[id="top-bar"] {  /* Circumvents a rendering bug (?) in MSIE 6.0 */
  margin-right: 2em !important;
}

[id^="top-bar"] {  /* Only recognised in Gecko & CSS3-compliant browsers */
  margin-bottom: 5em !important;
}

#top-bar .title {
  font-family: "trebuchet ms", verdana, helvetica, arial, sans-serif;
  font-size: 120%;
  font-weight: bold;
  margin: 2em 0 0 0;
  padding: 0 0 1ex 0;
  background-image: url(../grey-dot.png);
  background-repeat: repeat-x;
  background-position: bottom center;
}

#top-bar ul {
  list-style-type: disc;
  list-style-position: outside;
  margin: 1em 0 0 0;
  padding: 0 0 1em 1.25em;
  background-image: url(../grey-dot.png);
  background-repeat: repeat-x;
  background-position: bottom center;
}

[id="top-bar"] ul {  /* Not recognised by MSIE */
  list-style-type: circle !important;
  padding-left: 1em !important;
}

#top-bar ul li {
  line-height: 1.25em;
  margin: 1ex 0 1ex 1ex;
  padding: 0;
}

#top-bar ul li:hover {
  list-style-type: disc;
}

#top-bar ul li.highlight {
  color: black;
}

#top-bar a {
  color: gray;
  background-color: transparent;
  text-decoration: underline;
}

#top-bar a:hover {
  color: steelblue;
  text-decoration: none;
}

#top-bar div {
  text-align: justify;
  margin: 1em 0 0 0;
  padding: 0 1ex 1.25em 1ex;
  background-image: url(../grey-dot.png);
  background-repeat: repeat-x;
  background-position: bottom center;
}




/* ##### Main Copy ##### */

#main-copy {
  text-align: justify;
  line-height: 1.5em;
  margin: 2em 20em 5em 2em;
  padding: 0;
}

#main-copy p {
  margin: 0 0 1.5em 0;
  padding: 0 0.5ex;
}

#main-copy q {
  color: rgb(225,225,225);
  background-color: transparent;
  font-size: 200%;
  font-weight: bold;
  line-height: 1.5em;
  text-align: center;
  margin: 0.3em 0 0.8em 0;
  padding: 0;
  display: block;
}

q:before, q:after {  /* Prevents Gecko from adding quotation marks around quote */
  content: "";
}

#main-copy a {
  color: gray;
  background-color: transparent;
  text-decoration: underline;
}

#main-copy a:hover {
  color: steelblue;
  background-color: transparent;
  text-decoration: none;
}

#main-copy h1 {
  font-family: "trebuchet ms", verdana, helvetica, arial, sans-serif;
  font-size: 145.5%;
  font-weight: bold;
  margin: 0 0 0.75em 0;
  padding: 0.5ex 0 0.5ex 0.5ex;
  border-bottom: 1px solid gray;
}

#main-copy h1:target {  /* Only recognised by Gecko & other CSS3-compliant browsers */
  color: white;
  background-color: steelblue;
  border-bottom-color: steelblue;
}

#main-copy dl {
  margin: 0 0 1.5em 0;
  padding: 0 0.5ex;
}

#main-copy dt {
  font-weight: bold;
}

#main-copy dd {
  margin: 0 0 1.5em 1em;
  padding: 0;
}


/* ###### Footer ###### */

#footer {
  color: rgb(175,175,175);
  background-color: rgb(250,250,250);
  margin: 0;
  padding: 0.25em 5mm 1.25ex 4mm;
  clear: both;
}

body > #footer {  /* Circumvents a rendering bug (?) in MSIE 6.0 */
  padding-top: 0.5em;
}

#footer .left {
  line-height: 1.45em;
  float: left;
  clear: left;
  font-weight: bold;
}

#footer .right {
  text-align: right;
  line-height: 1.45em;
  font-weight: bold;
}

#footer a {
  color: rgb(175,175,175);
  background-color: transparent;
  text-decoration: underline;
}

#footer a:hover {
  color: steelblue;
  background-color: transparent;
  text-decoration: none;
}