/********************************************
 * TITLE: Gazetteer Larger Fonts Stylesheet *
 * URI  : gazetteer/larger-fonts.css        *
 * MODIF: 2003-Nov-22 21:47 +0800           *
 * MEDIA: screen, projection, tv            *
 ********************************************/

/* DESCRIPTION:
 * This is the larger fonts stylesheet for Gazetteer. It renders text in a larger font size
 * and uses darker grey colours compared to the default stylesheet. It is made available as an
 * accessibility feature.
 *
 * This stylesheet is best used for display on large display areas (eg: standard computer
 * monitors).
 *
 * NB: this stylesheet uses (cascades) styles from the default.css stylesheet
 */


/* ##### Imports ##### */

@import url(default.css);


/* ##### Common Styles ##### */

body {
  color: black;
  font-size: 84% !important;  /* Enables font size scaling in MSIE */
}

html > body {
  font-size: 10pt !important;
}


/* ###### Header ###### */

.headerTitle {
  color: gray !important;
}

.subHeader .dateline {
  color: gray !important;
}

.subHeader a {
  color: gray !important;
}

.subHeader .navigation .tab {
  color: gray !important;
  padding: 0.5ex 1.25em 1.1ex 1.25em !important;
}

.subHeader .navigation a.tab:hover {
  padding-bottom: 0.9ex !important;
}

.subHeader .navigation .highlighted {
  color: white !important;
}


/* ##### Main Copy ##### */

#main-copy q {
  color: rgb(175,175,175) !important;
}


/* ###### Footer ###### */

#footer {
  color: gray !important;
}

#footer a {
  color: gray !important;
}