/*************************************
 * TITLE: Gazetteer Print Stylesheet * 
 * URI  : gazetteer/print.css        *
 * MODIF: 2003-Nov-22 23:56 +0800    *
 * MEDIA: print                      *
 *************************************/

/* DESCRIPTION:
 * This is the print media stylesheet for Gazetteer. It is used to lay out the page in a format
 * appropriate for black and white printing. It is used only when the User prints the page or uses the
 * browser's print preview function, but can be previewed on screen by selecting the "Print Preview"
 * stylesheet option.
 */


/* ##### Common Styles ##### */

body {
  color: black;
  background-color: white;
  font-family: "times new roman", times, roman, serif;
  font-size: 12pt;
  margin: 0;
  padding: 0;
}

acronym, .titleTip {
  font-style: italic;
  border-bottom: none;
}

acronym:after, .titleTip:after {  /* Prints titles after the acronyms/titletips. Doesn't work in MSIE */
  content: "(" attr(title) ")";
  font-size: 90%;
  font-style: normal;
  padding-left: 1ex;
}

.smallCaps {
  font-variant: small-caps;
}

.doNotPrint {
  display: none !important;
}


/* ##### Header ##### */

#header {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
}

.superHeader {
  display: none;
}

.headerTitle {
  color: black;
  background-color: transparent;
  font-family: garamond, "times new roman", times, roman, serif;
  font-weight: normal;
  font-size: 200%;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.subHeader .quote {
  display: block !important;
  position: absolute;
  right: 0;
  top: 0.75em;  
}

.subHeader .navigation {
  display: none;
}


/* ##### Side Bar ##### */

#side-bar {
  display: none;
}


/* ##### Main Copy ##### */

#main-copy {
  text-align: justify;
  margin: 0;
  padding: 0;
}

#main-copy h1 {
  font-family: "trebuchet ms", verdana, helvetica, arial, sans-serif;
  font-size: 120%;
  margin: 2ex 0 1ex 0;
  padding: 0;
}

#main-copy a {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

#main-copy a:after {  /* Prints the links' URIs after the links' texts. Doesn't work in MSIE */
  content: "<" attr(href) ">";
  font-size: 90%;
  padding-left: 1ex;
}

p {
  margin: 0 0 2ex 0;
  padding: 0;
}

q {
  display: none;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 2ex 1em;
  padding: 0;
}


/* ##### Footer ##### */

#footer {
  margin: 2em 0 0 0;
  padding: 1ex 0 0 0;
  border-top: 1px solid black;
}

#footer a {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

#footer .left {
  float: left;
  width: 49%;
}

#footer .right {
  text-align: right;
  float: right;
  width: 49%;
}