/********************************************
 * TITLE: Gazetteer Sidebar Left Stylesheet *
 * URI  : gazetteer/sidebar-left.css        *
 * MODIF: 2003-Nov-26 21:59 +0800           *
 * MEDIA: screen                            *
 ********************************************/

/* DESCRIPTION:
 * This is the sidebar left stylesheet for Gazetteer. It's the same as the default stylesheet
 * except that it renders the sidebar to the left of the main copy.
 *
 * This stylesheet is best used for display on large display areas (eg: standard computer
 * monitors).
 *
 * NB: this stylesheet uses (cascades) styles from the default.css stylesheet
 */


/* ##### Imports ##### */

@import url(default.css);


/* ##### Side Bar ##### */

#side-bar {
  margin: 0 0 0 1em;
  float: left !important;
}

[id="side-bar"] {  /* Circumvents a rendering bug (?) in MSIE 6.0 */
  margin-left: 2em !important;
}


/* ##### Main Copy ##### */

#main-copy {
  margin: 2em 2em 5em 20em !important;
}