/***************************************
 * TITLE: Gazetteer Crimson Stylesheet *
 * URI  : gazetteer/crimson.css        *
 * MODIF: 2003-Nov-22 21:18 +0800      *
 * MEDIA: screen                       *
 ***************************************/

/* DESCRIPTION:
 * This is the crimson stylesheet for Gazetteer. All it does is recolour elements that are
 * of the colour 'steelblue' in the default stylesheet to 'crimson'. It affects the header's
 * tab bar, hyperlinks, and acronym/title tip underlining. 
 *
 * This stylesheet is best used for display on large display areas (eg: standard computer
 * monitors).
 *
 * NB: this stylesheet uses (cascades) styles from the default.css stylesheet
 */


/* ##### Imports ##### */

@import url(default.css);


/* ##### Common Styles ##### */

acronym:hover, .titleTip:hover {  /* Ignored by MSIE. The nerve! */
  border-bottom: 1px solid rgb(220,20,60) !important;  /* 'crimson' not recognised here by Opera */
}


/* ##### Header ##### */

.subHeader {
  border-bottom: 10px solid rgb(220,20,60) !important;  /* 'crimson' not recognised here by Opera */
}

.subHeader a:hover {
  color: crimson !important;
}

.subHeader .navigation a.tab:hover {
  color: crimson !important;
}

.subHeader .navigation .highlighted {
  background-color: crimson !important;
  border-top-color: crimson !important;
  border-right-color: crimson !important;
  border-left-color: crimson !important;
}


/* ##### Side Bar ##### */

#side-bar a:hover {
  color: crimson;
}


/* ##### Main Copy ##### */

#main-copy a:hover {
  color: crimson !important;
}

#main-copy .byline a:hover {
  color: crimson !important;
}

#main-copy h1:target {  /* Only recongnised by Gecko & other CSS3-compliant browsers */
  color: white;
  background-color: crimson;
  border-bottom-color: crimson;
}


/* ##### Footer ##### */

#footer a:hover {
  color: crimson !important;
}